<div class="header">
        <div class="header_title">
            <div class="title">
                <h1>HODLINFO</h1>
                <h4>.com</h4>
            </div>
            <div class="subtitle">
                <h4 class="left">Powered By</h4>
                <h4 class="right">Finstreet</h4>
            </div>
        </div>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">INR 
                <i class="fa fa-caret-down"></i>
              </button>
            </div>
            <div class="dropdown">
                <button class="dropbtn">BTC 
                <i class="fa fa-caret-down"></i>
              </button>

            </div>
        </div>
        <div class="right-side">
            <div class="circle">
                <button><h1>58</h1></button>
            </div>
            <div class="message">

                <button type="submit" id="btn-submit">
                    <div class="telegram">
                        <i class="fab fa-telegram" aria-hidden="true"></i>
                        <h2>GET DATA</h2>
                    </div>
                </button>

            </div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>

    </div>